{
  "root": true,
  "extends": ["prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "object-curly-spacing": 0,
    "semi": [2, "always"],
    "quotes": [2, "double"],
    "require-jsdoc": 0
  }
}